In [1]:
import sqlite3

In [7]:
#connect to the database, normally as 'chen.db'
conn = sqlite3.connect(':memory:')
print("Opened database successfully")

Opened database successfully

In [10]:
#ceate table
query = '''create table mytest
(ID int  primary key  not null,
name text not null,
age int not null,
address char(50));'''
conn.execute(query)

In [11]:
#insert new rows 
data=[(11, 'chen', 25, 'beijing'),
      (22, 'rui', 24, 'shanghai'),
      (33, 'lan', 26, 'denmark'),
      (44, 'xin', 21, 'tianjin'),]
statm='insert into mytest values(?,?,?,?)'
conn.executemany(statm, data)

In [17]:
#select from table
import pandas.io.sql as sql
sql.read_sql_query('select * from mytest', conn)

   ID  name  age   address
0  11  chen   25   beijing
1  22   rui   24  shanghai
2  33   lan   26   denmark
3  44   xin   21   tianjin

In [18]:
!python --version

Python 3.7.3